<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
	</head>
	<body>
	
		<div th:fragment="header">
			<div align="center">
				<h2>Welcome to my CST-339 Spring Boot Activity Application</h2>
			</div>
			
			<div class="bs-example">
				<nav class="navbar navbar-expand-lg navbar-light bg-light"> 
						<div class="container-fluid">
							<button type="button" data-target="#navbarToggler" data-toggle="collapse" class="navbar-toggler">
								<span class="sr-only">Toggle Navigation</span>
								<span class="navbar-toggler-icon"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="#" class="navbar-brand">GCU</a>
						</div>
						
						<div class="collapse navbar-collapse" id="navbarToggler1">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item"><a href="https://www.gcu.edu" target="_blank">Home</a></li>
								<li class="nav-item"><a href="https://lopeshops.gcu.edu/" target="_blank">Shop</a></li>
								<li class="nav-item"><a href="https://news.gcu.edu/" target="_blank">News</a></li>
							</ul>
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item"><a href="/">Start Page</a></li>
							</ul>
						</div>
				</nav>
			</div>
						
			<h2 th:text="${title}">Default Message Text"</h2><br>
			<img th:src="@{/images/gcu-log.jpg}" style="width: 200px; height: 100px;"><br><br>
		</div>
		
		<div th:fragment="footer" style="position: fixed; left: 0; bottom: 0; width: 100%; text-align: center; background-color: #522398; color: white">
			<h5>Copyright 2021 Grand Canyon University</h5>
		</div>
	</body>
</html> 
	

